.nav-btn {
  padding: 1rem 0.75rem;
  font-size: 1rem;
  // color: #fff;
  // background-color: #007bff;
  line-height: 1.5;
  border: none;
  cursor: pointer;
  user-select: none;

  &:active {
    opacity: 0.85;
  }

  &:hover {
    &:not([disabled]) {
      // background-color: #0066d3;
      filter: brightness(0.95);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
}

.stretch {
  display: block;
  width: 100%;
}
