.header {
  grid-area: header;
  background-color: var(--header-bg-color);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.logo {
  height: auto;
  width: 40px;
  max-width: 100%;
}

.gap {
  display: flex;
  gap: 1.5rem;
}
