.container {
    display: grid;
    grid-template-areas:
    "sidebar container";
    grid-template-columns: var(--columns-width, 250px 1fr);
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--sidebar-bg-color);
}

.operation-list {
    padding: 1rem;
}