:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --form-bg-color: #333;
  --container-bg-color: #585858;
  --header-bg-color: #333;
  --footer-bg-color: #333;
  --sidebar-bg-color: #333;
  --logo-svg: invert(1) brightness(1.5);
  --modal-bg-color: #272727;
  --navlink-bg-color: #727272;
  --cost-card-bg-color: #6d0000;
  --profit-card-bg-color: #004b00;
  --card-box-shadow-color: rgba(255, 255, 255, 0.25);
}

[data-theme='light'] {
  --color: #213547;
  --background-color: rgba(255, 255, 255, 0.87);
  --form-bg-color: #dadada;
  --container-bg-color: #ececec;
  --header-bg-color: #dadada;
  --footer-bg-color: #dadada;
  --sidebar-bg-color: #dadada;
  --logo-svg: none;
  --modal-bg-color: #ececec;
  --navlink-bg-color: #b1b1b1;
  --cost-card-bg-color: #f3d0d7;
  --profit-card-bg-color: #daf3d0;
  --card-box-shadow-color: rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
}
