.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  transition: box-shadow 0.15s ease-in-out;
  outline: none;

  &:focus {
    &:not([readonly]) {
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    }
  }

  &.error {
    border: 1px solid red;
  }

  &:disabled {
    background-color: #f0f0f0; /* Light gray background */
    border-color: #ccc; /* Gray border */
    color: #a0a0a0; /* Gray text */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    opacity: 0.7; /* Slightly transparent */
  }

  &:read-only {
    border-color: #ddd; /* Gray border */
    opacity: 0.7;
  }
}
