.layout {
  display: grid;
  grid-template-areas:
    'header'
    'container'
    'footer';
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  gap: 0.5rem;
}

.container {
  grid-area: container;
  background-color: var(--container-bg-color);
  padding: 1rem;
}

// $light-theme: (
//     background-color: #fff,
//     color: #000
// );

// $dark-theme: (
//     background-color: #333,
//     color: #fff
// );

// @mixin theme($theme) {
//     background-color: map-get($theme, background-color);
//     color: map-get($theme, color);
// }

// .light {

//     div,
//     p {
//         @include theme($light-theme);
//     }
// }

// .dark {

//     div,
//     p {
//         @include theme($dark-theme);
//     }
// }
