.space-between {
  display: flex;
  justify-content: space-between;
  gap: var(--layout-blocks-gap, 5px);
  align-items: var(--layout-vertical-align);

  > div {
    display: flex;
    gap: var(--layout-elements-gap, 5px);
  }
}
